/*-- global style */

* {
    padding: 0;
    border: none;
    margin: 0;
}

body {
    background-color: #FFFFFF;
    color: #4A4A4A;
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*-- header */

.game-heading {
    width: 100%;
    height: 100px;
    padding-top: 10px;
}

.game-heading h1 {
    font-size: 2.5rem;
    letter-spacing: 2px;
    text-shadow: 1px 1px blue;
}

.game-heading a {
    text-decoration: none;
    color: inherit;
}

.game-heading:hover {
    color: #708090;
}

#logo {
    height: 80px;
    vertical-align: middle;
}

/*-- welcome page and game area */

.game-area {
    width: 80%;
    height: auto;
    background-color: #f0f8ff;
    border: 1px solid #4A4A4A;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 1px 5px blue;
    letter-spacing: 1px;
    max-width: 1200px;
}

#welcome-area {
    margin-top: 25px;
}

.container {
    flex: 1;
}

.game-area h2 {
    padding: 20px 0 30px 0;
    font-size: 1.8rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);   
}

#rules-container {
    border: 1px solid #4a4a4a;
    border-radius: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    height: auto;
    background-color: #FFFFFF;
    box-shadow: 0 1px 5px green;
    text-align: justify;
    padding-bottom: 20px;
}

#rules-container h3 {
    padding: 20px 0 15px 0;
    font-size: 25px ;
    text-align: center;
}

#rules-container li {
    list-style-type: none;
    padding: 10px 20px;
    font-size: 20px;
}

#rules-container li i {
    color: #0a356d;
    font-size: 22px;
}

#rules-container p {
    text-align: center;
    font-size: 25px;
}

#play-btn {
    font-size: 30px;
    padding: 15px 20px;
    background-color: #0a356d;
    color: #f0f8ff;
    border-radius: 250px;
    margin: 25px 0 30px 0;
    box-shadow: 1px 10px 5px silver;
    cursor: pointer;
}

#play-btn:hover {
    color: #0a356d;
    background-color: #eceaea;
    box-shadow: 0 1px 5px blue;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

/*-- sticky footer */

footer {
    align-self: center;
    margin: 2.5rem;
    font-size: 20px;
}

/*-- game page */

#game-options {
    background-color: #ffffff;
    width: 80%;
    max-width: 1200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

#timer-selector {
   padding: 0 0 2px 25px;
   font-size: 18px;
}

#timer-btn-container {
    display: flex;
    background-color: #eceaea;
    border-radius: 25px;
    box-shadow: 1px 10px 5px silver;
    margin-bottom: 10px;
}

#timer-btn-container:hover {
    box-shadow: 0 1px 5px blue;
}

.timer-btn {
    padding: 15px 20px;
    font-size: 20px;
    border-radius: 25px;
    cursor: pointer;
}

#untimed-game {
    background-color: #0a356d;
    color: #f0f8ff;
}

#control-buttons {
    padding-right: 25px;
    display: flex;
    align-items: flex-end;
}

.game-btn {
    font-size: 20px;
    letter-spacing: 1px;
    padding: 15px 20px;
    background-color: #0a356d;
    color: #f0f8ff;
    border-radius: 25px;
    margin: 0 0 10px 10px;
    box-shadow: 1px 10px 5px silver;
    cursor: pointer;
}

.game-btn:hover {
    color: #0a356d;
    background-color: #eceaea;
    box-shadow: 0 1px 5px blue;
}

/*-- game area container */

#game-container {
    display: flex;
    padding: 25px 40px;
}

#hangbot-display-container {
    width: 50%;
    display: flex;
    flex-direction: column; 
}

#game-elements {
    width: 50%;
    display: flex;
    flex-direction: column;
}

#hangbot {
    width: 30rem;
}

/*-- timer display */

#timer-container {
    font-size: 30px;
    font-family: 'Orbitron', sans-serif;
    
    margin-left: auto;
    margin-right: auto;
    visibility: hidden; 
}

#timer-container .fa-hourglass-start{
    padding: 0 5px 0 2px;
}

.countdown-digit, .countdown-colon,  .fa-hourglass-start {
    display: inline-block;
    text-align: center;
    color: #7f8790;
    text-shadow: 1px 2px 5px green;
}

/*-- secret word area */

#secret-word {
    font-size: 36px;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 35px;
    padding-top: 25px;
}

/*-- keyboard display */

#keyboard {
    width: 80%;
    margin: 0 auto;
}

.letter {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: 5px;
    background-color: #0a356d;
    color: #eceaea;
    font-size: 35px;
    border: 1px solid #0a356d;
    box-sizing: border-box;
    box-shadow: 1px 10px 5px silver;
    cursor: pointer;
}

.letter:hover {
    background-color: #eceaea;
    color: #0a356d;
    box-shadow: 0 1px 5px blue;
    border: none;
}

/*-- hint button */

#hint {
    padding-top: 10px;
    display: flex;
    margin-top: 15px;
}

#hint-button {
    font-size: 25px;
    padding: 10px 15px;
    background-color: #0a356d;
    border-radius: 25px;
    margin-top: 10px;
    margin-bottom: 1px;
    box-shadow: 1px 1px 5px green;
    cursor: pointer;
}

#hint-container {
    display: block;
}

#hint-container p {
    font-size: 12px;
}

#hint-button:hover {
    box-shadow: 1px 1px 5px blue;
}

#word-definition {
    width: 90%;
    padding-top: 15px;
    color: #0a356d;
    margin-left: 5px;
    font-size: 18px;
}

/*-- chances left area */

#chances-left {
    color: #0a356d;
    font-size: 22px;
    display: flex;
    margin-left: 2rem;   
}

#chances-label {
    float: left;
    font-size: 25px;    
}

#life-counter {
    clear: left;
    float: left;
    padding-left: 1rem;
    display: flex;
    align-items: center;
}

.lives {
    padding: 0 3px 0 3px;
}

/*-- popup message */

#popup-message {  
    position: absolute;
    width: 90%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(240, 248, 255, 0.9);
    border: 1px solid #4A4A4A;
    border-radius: 20px;
    box-shadow: 0 1px 5px red;
    letter-spacing: 1px;
    color: #0a356d;
    display: none;
}

#popup-message p {
    font-size: 3rem;
    margin-top: 15%;
    padding: 5%;
    font-weight: bold;
}

#play-again {
    font-size: 25px;
    letter-spacing: 1px;
    padding: 15px 20px;
    background-color: #0a356d;
    color: #f0f8ff;
    border-radius: 250px;
    margin: 0 0 10px 10px;
    box-shadow: 1px 10px 5px silver;
    cursor: pointer;
    position: relative;
    width: 40%;
}

#play-again:hover {
    color: #0a356d;
        background-color: #eceaea;
        box-shadow: 0 1px 5px blue;
}

/*----- Media Queries  */

@media (max-width: 1413px) {
    #keyboard {
        width: 100%;
    }

    #chances-left {
        margin: 0;
    }
}

@media (max-width: 1050px) {
    #hangbot-display-container {
        width: 20%;
    }

    #hangbot-image {
        overflow: hidden;
    }

    #chances-left {
        display: block;
    }

    #life-counter {
        padding: 1rem 0 0 0;
    }
}

@media (max-width: 1000px) {
    #hangbot {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 780px) {
    #game-container {
        display: block;  
        padding: 25px 20px;
    }

    #hangbot-display-container {
        width: 100%;
        flex-direction: row;
    }

    #chances-label {
        font-size: 18px;
        height: 10%;
    }

    #life-counter {
        padding-top: 5px;
    }

    #chances-left {
        font-size: 16px;
        max-width: 30%;
        padding-top: 20px;
    }

    #game-elements {
        width: 100%;
    }

    #hangbot-image {
      max-width: 70%;
    }

    #timer-word-container {
        display: flex;
        flex-direction: row-reverse;
    }

    #timer-container {
        width: 20%;
        max-width: 20%;
        display: flex;  
        align-items: center;
        margin-bottom: 15px;
    }

    #secret-word {
        padding: 0;
        width:80%;
        max-width: 80%;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    #hourglass-icon {
        display: none;
    }

    #minutes {
        display: none;
    }

    #colon {
        display: none;
    }
    
    #description {
        visibility: hidden;
    }
}

@media (max-width: 720px) {
    #chances-left {
        display: flex;
        flex-direction: column;
    }

    #life-counter {
        flex-direction: column;
        max-width: 780px
    }
    
    .lives {
        padding: 15px 3px 0 3px ;
    }

}

@media (max-width: 540px) {
    #game-options {
        width: 50%;
        justify-content: space-evenly;
    }
    
    #control-buttons {
        padding: 0; 
    }

    #time-selector {
        padding: 0;
    }

    #timer-container {
        justify-content: center;
    }
}

@media (max-width: 474px) {
    #chances-left {
        padding-top: 0;
        justify-content: flex-start;
        height: 300px;
    }

    #life-counter {
       padding-top: 30px;
    }

    .game-btn {
        margin-left: 0;
    }

    #timer-selector {
        padding: 0;
    }

    #timer-container {
        justify-content: flex-end;
    }

    .game-area {
        width: 90%;
    }

    #game-container {
        padding: 15px 10px;
    }

    #popup-message p {
        font-size: 2rem;
    }
}